/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/

.author-image-large {
    position: absolute;
    // right: -150px;
    right: 0;
    width: 600px;
    // transform: scale(0.5);
    // height: 150px;
    overflow: hidden;
    top: 10%;


    img {
        @include calc(height, "90vh - 4px");
    }
}

// .hexagon-item {
// 	a {
// 		path {
// 			fill: #59C4B4;
// 		}
// 	}
// }